.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

 .fa-bars {
   font-size: 24px;
 }
.header-menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;

}
.logo-menu-search {
  display: grid;
  grid-template-columns: 200px min-content 200px;
  justify-items: center;
  align-items: center;
}

.logo {
  background-size: cover;
  align-self: center;
  max-height: 70px;
}
.wrapper-btn {
	line-height: 70px;
}