
.main {
  width: 100%;
  height: 100%;

}

.wrap-block {

  display: grid;
  grid-template: 1fr/ 71px 1fr;
}

.game-cards-row {

  margin-top: 30px;
}

.art-container {
  background-color: #eae7d6;
  padding-bottom: 60px;
}


.main-choice-cont {
  padding: 20px 0px 0px 0px;
  display: grid;
  grid-template: 1fr/minmax(300px, 2fr) minmax(150px, 1fr);
}

.main-dots {
  align-self: center;
  justify-self: center;
}

/* ------------------------- */
.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.dots-pagin a {
  width: 15px;
  height: 15px;
  background-color: #176459;
  border-radius: 100%;
  padding: 0;
  margin: auto 5px;
  text-align: center;
  position: relative;
}

.dots-pagin .is-active {
  background-color: #323232;

}

.slide-arrow {
  align-self: center;

}

.slide-arrow a {
  width: 60px;
  height: 60px;
  color: #fff;
  font-weight: bold;

  background-color: #247368;
  text-decoration: none;
  font-size: 35px;
}

.slide-arrow .is-active {
  background-color: #323232;
}

/* ------------------------ */
.block {
  width: 71px;
  height: 100%;
  background-color: #eae7d6;
  position: relative;
}

.bl {
  /* margin: 0 -71px; */
  width: 71px;
  background-color: #eae7d6;
  position: relative;
}

.block:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -53px;
  width: 35px;
  ;
  height: 35px;
  background-color: rgb(255, 255, 255);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg);
}

/* ------------------------ */
/* .wrap-main-line {
   flex-direction: row;
 } */
.wrapper {
  display: flex;
  flex-direction: row;
}

.game-cards-row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.game-cards {
  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr;
  padding: 20px 35px 0px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  position: relative;
  margin: 10px;
  text-decoration: none;
}

.article-data-img {
  position: absolute;
  top: 5px;
  left: -3px;
  display: flex;
  flex-direction: row;
}

.game-rating {
  width: 70px;
  height: 70px;
  /* position: absolute;
top: 5px;
left: -3px; */
  line-height: 70px;
  background-color: #f7d54a;
  color: #000000;
  font-size: 30px;
  font-weight: 500;

  text-align: center;

}

.article-num {
  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
}

.article-text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}

.game-cont-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  justify-content: space-evenly;
}

.game-name {
  color: #010101;

  font-size: 28px;
  font-weight: 700;
  line-height: 24px;

}

.descrip-name {
  color: #000000;

  font-size: 14px;
  font-weight: 300;

}

.descrip-name-green {
  color: #2a9657;
}

.game-text {
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  width: 90%;
}

.game-ico-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 50%;
}

.game-ico-box i {
  text-decoration: none;
  color: #2a9657;
}

.game-num {
  color: #272727;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-row {
  display: flex;
  flex-direction: column;
}

.wrap-main-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sort-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-top: 2px solid #ebebeb;
}

.main-decor {
  position: relative;
}

.main-decor-img {
  position: absolute;
  transform: translate(-2%, 10%);
  max-width: 100%;
}

.sort-name {
  color: #272727;
  font-weight: 300;
}

.popular {
  color: #656565;
  font-weight: 300;
  background-color: white;
  border-radius: 3px;
  border: none;
}

.new {
  color: #656565;
  font-weight: 300;
  /* width: 148px;
height: 50px; */
  border-radius: 3px;
  background-color: white;
  border: none;
  /* margin-top: 26px;  */
}

.popular:hover,
.new:hover {
  color: #33282c;
  background-color: #f2ca5b;
}

.news {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.news-game {
  justify-content: center;
  display: flex;
  align-items: flex-end;
}

.main-name {
  /* font-size: 40px; */
  text-transform: uppercase;
  color: #000000;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 10px;

}

.name-noties-box {
  width: 83px;
  height: 25px;
  margin-left: 2px;
  border-bottom: 1px dotted #30b5d8;
  font-size: 16px;
  color: #30b5d8;
  font-weight: 300;

}

.name-noties-box:hover {
  color: #000000;
  border-bottom: 1px dotted #000000;
}

.main-choice {
  background-color: #ebebeb;
  /* font-size: 25px; */
  color: #30b5d8;
  /* width: 40%;
height: 50px; */
  border: none;
  font-weight: 300;
  /* margin-top: 5%; */
  /* margin-right: -15.7%; */
  /* padding-left: 30px;
padding-right: 30px; */
  display: flex;
  justify-content: space-between;

  align-items: center;
  flex-direction: row;
}

.img-btn-box {
  display: flex;
  flex-direction: column;
}

.wrap-main-cont {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  /* display: grid;
  grid:"f1 f1 f2 f3" 320px
       "f4 f5 f6 f7" 330px
       "f8 f5 f9 f9" 320px
       /400px 400px 290px 290px
  ; */
  /*grid-template-rows: 32rem 33rem 32rem;
  grid-template-columns: 40rem 40rem 29rem 29rem;*/
}

.cont-img1 {
  grid-area: "f1";
  grid-column: 1 / 2;
  grid-row: 1;
  position: relative;
}

.main-cont-line {
  width: 100px;
  height: 5px;
  background-color: #fec230;

  position: absolute;
}

.main-cont-line1 {
  top: 170px;
  left: 40px;
}

.caption-block {
  /* width: 450px; */
  width: 150%;
  /* height: 100px; */
  height: 30%;
  background-color: rgba(150, 49, 75, 0.8);
  padding: 10px 40px;
  transform: skewX(-5deg);
  position: absolute;
  top: 190px;
  left: 40px;
  font-style: italic;
}

.caption {
  font-size: 30px;
  letter-spacing: 0px;
  line-height: 36px;
  color: #ffffff;

}

.cont-img2 {
  grid-area: "f2";
  grid-column: 3;
  grid-row: 1;
  position: relative;
}

.caption-block2 {
  width: 98%;
  height: 100px;
  background-color: #ffffff00;
  position: absolute;
  top: 240px;
  left: 20px;
}

.main-cont-line2 {
  top: 230px;
  left: 20px;
}

.caption2 {
  /* font-size: 24px; */
  letter-spacing: 0px;
  /* line-height: 36px; */
  color: #ffffff;
  font-weight: 300;
  text-transform: uppercase;
}

.cont-img3 {
  grid-area: "f3";
  grid-column: 4;
  grid-row: 1;
  position: relative;
}

.img3 {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.img7 {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.cont-img4 {
  grid-area: "f4";
  grid-column: 1;
  grid-row: 2;
  position: relative;
}

.cont-img5 {
  grid-area: "f5";

  grid-column: 2;
  grid-row: 2 / 3;
  position: relative;
}

.main-cont-line5 {
  top: 160%;
  left: 20px;
}

.caption5 {
  font-weight: 600;

}

.caption-block5 {
  width: 98%;
  height: 100px;
  background-color: #ffffff00;
  position: absolute;
  top: 165%;
  left: 20px;
}

.caption-block7 {
  width: 95%;
  height: 100px;
  background-color: #ffffff00;
  position: absolute;
  top: 67%;
  left: 20px;
}

.cont-img6 {
  grid-area: "f6";

  grid-column: 3;
  grid-row: 2;
  position: relative;
}

.cont-img7 {
  grid-area: "f9";
  grid-column: 3 / 5;
  grid-row: 3;
  position: relative;
}

.main-cont-line7 {
  top: 62%;
  left: 20px;
}

.comment-img6,
.comment-img7 {
  background-color: #f3efdb;

}

.comment-img6 {
  grid-area: "f7";

  grid-column: 4;
  grid-row: 2;
  position: relative;
}

.comment-img6-name {
  font-size: 24px;
  letter-spacing: 0px;
  line-height: 30px;
  color: #000000;
  font-weight: 400;
  margin-top: 50px;
  margin-left: 20px;
  /* margin-bottom: 30px; */
  width: 80%;
}

.img6-name-b {
  font-weight: 700;
}

.comment-img6-text {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 24px;
  color: #000000;
  font-weight: 300;
  margin-left: 20px;
  width: 80%;
}

.main-cont-line3 {
  top: 30px;
  left: 20px;
}

.comment-img7 {
  grid-area: "f8";

  grid-column: 1;
  grid-row: 3;
  position: relative;
}

.triangle-top {
  height: 20px;
  width: 20px;
  position: absolute;
  top: -40px;
  left: 20px;
  border: 20px solid transparent;
  border-bottom: 20px solid #f3efdb;
}

.triangle-left {
  height: 20px;
  width: 20px;
  position: absolute;
  /* top: 40px;
  left: -40px;
border: 20px solid transparent;
border-right: 20px solid #f3efdb; */
}


.card {
  width: 440px;
  padding: 25px;
  border: 2px solid #f2f2ef;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: ; */

}

.article-img-name {
  display: flex;
  flex-direction: row;
  margin-left: 40%;
  padding-top: 15px;


}

.article-img-name__img {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 140px;
  height: 70px;
  position: absolute;
  top: 15px;
  left: -11px;
}

.article-img-name__img-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;

}

.color-1 {
  background-color: #2d95bf;
}

.color-2 {
  background-color: #f2ca5b;
}

.color-3 {
  background-color: #2e8a7d;
}

.color-4 {
  background-color: #000000;
}

.color-5 {
  background-color: #03554f;
}

.color-6 {
  background-color: #3e85d6;
}


.date-number {
  width: 38px;
  height: 25px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 35px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.date-month {
  width: 35px;
  height: 12px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}

.article-img-name__img-image {
  width: 70px;
  height: 70px;

}

.article-img-name__state {
  width: 240px;
  height: 70px;
  justify-self: end;
  background-color: #f2f2ef;
  border-style: solid;
  border-width: 2px;
  border-color: grey transparent transparent transparent;
}

.article-name {
  width: 100%;
  height: 50%;
  color: #2d95bf;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
  padding-top: 5px;
}

.game-ico-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33%;
}

.game-num {
  color: #272727;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.article-main-name {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 80%;

  color: #000000;
  font-family: "Times New Roman PS - Bold MT";
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  letter-spacing: 0.6px;

}

.italic {
  font-style: italic;
}

.norm {
  padding-top: 30px;
  font-style: normal;
}

.article-main-content {
  width: 90%;
  color: #2d2d2d;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  font-style: italic;
}

/* ------------------------- */


.more {
  width: 350px;
  height: 60px;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 90px;
  background-color: rgba(239, 239, 239, 0);
  border: 3px solid #90d4e6;
  font-size: 24px;
  line-height: 24px;
  color: #999898;
  font-weight: 300;
  border-radius: 30px;

}

.wrap-more {
  display: flex;
  justify-content: center;

}

.more:hover {
  color: #272727;
  border: 3px solid #30b5d8;
}

