* {
  box-sizing: border-box;
}
body {
  min-height: 1300px;
font-family: 'Roboto',
 sans-serif;
position: relative;
 background-color: white;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
[class*="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.col-xs-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.header-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.bur-menu {
  display: none;
}
 .fa-bars {
   font-size: 24px;
 }
.header-menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}
.logo-menu-search {
  display: grid;
  grid-template-columns: 200px min-content 200px;
  justify-items: center;
  align-items: center;
}
.wrapper-btn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.logo {
  background-size: cover;
  align-self: center;
  max-height: 70px;
}
.logo-img {
  width: 100%;
  max-height: 70px;
}
.menu {
  display: grid;
  grid-auto-flow: column;
}
.category-menu-a {
  text-decoration: none;
   color: #32272b;
}
.header {
 width: 100%;
 height: 100%;
 min-height: 70px;
}
.category-menu {
 display: inline-block;
 text-align: center;
 color: #32272b;
 font-size: 20px;
 font-weight: 300;
 padding: 0 15px;
 letter-spacing: 1px;
line-height: 70px;
}
.category-menu:hover {
 background-color: #f7d54a;
 color: #000000;
}
.wrapper-search {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center; 
}
.search {
color: #32272b;
font-size:24px;
background-color: #eeeeee;
width: 100%;
    height: 100%;
    text-align: center;
    line-height: 70px;
opacity: 0.9;
}
.form-search {
 height: 70px;
 background-color: #eeeeee;
 border: none;
}
.form-search::placeholder {
 color: #32272b;
 font-weight: 300;
 font-size: 18px;
font-weight: 300;
letter-spacing: 1px;
}
.wrapper-btn {
  display: flex;
  flex-direction: row;
}
.enter {
  background-color: white;
  height: 40px;
  text-transform: uppercase;
  border: none;
 color: #000000;
font-size: 18px;
letter-spacing: 0.54px;
}
.reg {
  height: 40px;
  background-color: white;
    text-transform: uppercase;
  border: none;
 color: #000000;
font-size: 18px;
font-weight: 400;
letter-spacing: 0.9px;
}
.enter:hover,
.reg:hover {
  color: #32272b;
background-color: #30b5d8;
}
.slider {
 width: 100%;
 height: 100%;
 background-image: url("img/slider-img1.png");
 background-repeat: no-repeat;
 background-position-x: center;
  position: relative;
  min-height: 560px;
}
.slider-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider-information-wrap {
  display: flex;
  flex-direction: column;
   max-height: 400px;
   max-width: 640px;
   position: absolute;
}
.information-img-box {
display: flex;
  flex-direction: row;
 justify-content: flex-end;
}
.information-img-box2 {
  display: flex;
  flex-direction: column;
}
.slider-information {
  background-color: #29abcd;
  padding: 20px 30px; 
}
.inf-name {
  color: #000000;
  font-weight: 700;
  margin-bottom: 15px;
}
.inf-text {
  color: #ffffff;
  font-weight: 300;
}
.slider-inf-img {
  background-position: center;
  background-size: cover;
}
.slider-img {
  width: 100%;
  height: 100%;
}
.main {
 width: 100%;
 height: 100%;
}
.wrap-block{
  display: grid;
  grid-template: 1fr/ 71px 1fr ;
  /* display: flex;
  flex-direction: row; */
}
.game-cards-row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.game-container {
  background-color: #2e8a7d;
 padding-bottom: 60px; 
 
}


.main-choice-cont {
  padding: 20px 0px 0px 0px;
  display: grid;
  grid-template: 1fr/minmax(300px, 2fr) minmax(150px, 1fr);
}

.main-dots {
  align-self: center;
  justify-self: center;
}

/* ------------------------- */
.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.dots-pagin a {
  width: 15px;
  height: 15px;
  background-color: #176459;
  border-radius: 100%;
  padding: 0;
  margin: auto 5px;
  text-align: center;
  position: relative;
}

.dots-pagin .is-active {
  background-color: #323232;

}

.slide-arrow {
  align-self: center;

}

.slide-arrow a {
  width: 60px;
  height: 60px;
  color: #fff;
  font-weight: bold;

  background-color:#247368;
  text-decoration: none;
  font-size: 35px;
}

.slide-arrow .is-active {
  background-color:#323232;
}
/* ------------------------ */
.block {
  width: 71px;
  height: 100%;
  background-color:  #2e8a7d;
  position: relative;
}
.bl{
  width: 71px;
  /* height: 918px; */
  background-color: #2e8a7d;
  position: relative;
}
.block:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -53px;
  width: 35px;;
  height:35px;
  background-color :rgb(255, 255, 255);
  -webkit-transform-origin:0 100%;
  -ms-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg);
  }


/* ---------------------- */
.game-cards {
  display: grid;
  grid-template: 1fr/ 1fr 1fr ;
  /* padding: 20px 35px 0px; */
}
.card {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
}
.game-rating {
 width: 81px;
height: 80px;
position: absolute;
top: -10px;
right: 20px;
line-height: 80px;
background-color: #f7d54a;
color: #000000;
font-size: 30px;
font-weight: 500;
text-align: center;
}
.game-cont-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
 height: 100%;
  justify-content:space-evenly;

}
.game-name {
  color: #010101;
font-size: 30px;
font-weight: 700;
line-height: 30px;

max-width: 150px;
}
.descrip-name {
  color: #000000;
font-size: 14px;
font-weight: 300;
margin-top: 10px;
margin-bottom: 10px;
}
.descrip-name-green {
   color: #2a9657;
}
.game-text {
color: #000000;
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: left;
width: 90%;
}
.game-ico-box {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  width: 35%;
}
.game-ico-box i {
  text-decoration: none;
  color: #2a9657;
}
.game-num {
  color: #272727;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}
.main-row {
  display: flex;
  flex-direction: column;
}
/* .main-box {
  margin: 0 auto;
} */
.wrap-main-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sort-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-top: 2px solid #ebebeb;
}
.main-decor {
position: relative;
}
.main-decor-img {
position: absolute;
transform: translate(-2%, 10%);
 max-width: 100%;
}
.sort-name {
   color: #272727;
  font-weight: 300;
}
.popular {
color: #656565;
font-weight: 300;
background-color: white;
border-radius: 3px;
border: none; 
}
.new {
color: #656565;
font-weight: 300;
border-radius: 3px;
background-color: white;
border: none; 
}
.popular:hover,
.new:hover {
 color: #33282c;
background-color: #f2ca5b;
}
.news{
  display: flex;
  flex-direction: row;
 
  align-items: flex-end;
}
.news-game {
  justify-content: center;
}
.main-name {
text-transform: uppercase;
color: #ffffff;
font-weight: 800;
margin-top: 15px;
/* margin-left: 10%;
margin-top: 17%; */
}
.name-noties-box { 
  /* width: 105px; */
margin: 0 auto;
margin-top: 10px;
height: 25px; 
/* margin-left: 2px; */
border-bottom: 1px dotted #ffffff; 
font-size: 18px;
color: #ffffff;
font-weight: 300;
}
.name-noties-box:hover {
  color:#f7d54a;
border-bottom: 1px dotted #f7d54a; 
}
 .footer {
  background-color: #ebebeb;
} 
 .footer-row {
  position: relative;
}
.footer-img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
}
.footer-img-person {
 height: 100%;
  width: 100%;
}
.footer-decor {
   position: absolute;
    z-index: 20;
}
.footer-img-decor {
  height: 100%;
  width: 100%;
}
.footer-form {
  height: 270px;
  background-color: #33282c;
  border-top: 10px solid #f7d54a;
  position: relative;
  margin-left: 20px;
  z-index: 1;
}
.footer-bg-img {
  background-image: url("img/footer-bg-img.png");
   background-position-y: 80px;
  background-repeat: no-repeat;
}
.wrap-form-ico {
  width: 60px;
  height: 60px;
  background-color: #f7d54a;
 text-align: center;
 line-height: 80px;
  position: absolute;
  top: -10px;
  left: -20px;
}
.ftr-box-ico {
 display: flex;
 flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
    width: 245px;
    position: absolute;
    top: 0px;
    left: 40px;
}
.ftr-ico {
  width: 42px;
  height: 38px;
  border-radius: 2px;
  text-align: center;
  line-height: 42px;
  background-color: #00acee;
}
.ftr-ico1 {
  background-color: #3b5997;
  line-height: 51px;
}
.ftr-ico2 {
 background-color: #e94b89;
}
.ftr-ico3 {
 background-color: #db4939;
}
.ftr-ico4 {
 background-color: #598727;
}
.ftr-form-cont {
position: absolute;
top: 30%;
left: 5%;
}

.form-name {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
.form-text {
   max-width: 480px;
   color: #ffffff;
    font-weight: 300;
}
.frm-btn {
  background-color: #48a4be;
  color: #ffffff;
  font-weight: 600;
  position: absolute;
  border: none;
}
.frm-btn:hover { 
  background-color: #214b57;
}
.ftr-limitation {
  background-color: rgba(167, 62, 92, 0);
  border: 5px solid #d4d4d4;
  color: #000000;
  font-weight: 300;
  text-align: center;
}
.ftr-inf-name {
color: #000000;
font-weight: 600;
}
.ftr-inf-text {
color: #000000;
font-weight: 300;
margin-top: 3%;
}
.footer-inf-wrap {
  display: flex;
  flex-direction: column;
}
.footer-stick {
   margin-left: 40%;
  margin-top: 6%;
}
.main-sort {
display: flex;
flex-direction: row;
}