/* -----game part-- */
.gam-wrap-block{
  display: grid;
  grid-template: 1fr/ 71px 1fr ;
}
.gam-game-cards-row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.gam-game-container {
  background-color: #2e8a7d;
 padding-bottom: 60px; 
 
}
.gam-main-choice-cont {
  padding: 20px 0px 0px 0px;
  display: grid;
  grid-template: 1fr/minmax(300px, 2fr) minmax(150px, 1fr);
}
.gam-main-dots {
  align-self: center;
  justify-self: center;
}
/* ---------pagination with dots---------------- */
.gam-pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.gam-pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}
.gam-dots-pagin a {
  width: 15px;
  height: 15px;
  background-color: #176459;
  border-radius: 100%;
  padding: 0;
  margin: auto 5px;
  text-align: center;
  position: relative;
}
.gam-dots-pagin .gam-is-active {
  background-color: #323232;
}
.gam-slide-arrow {
  align-self: center;
}
.gam-slide-arrow a {
  width: 60px;
  height: 60px;
  color: #fff;
  font-weight: bold;
  background-color:#247368;
  text-decoration: none;
  font-size: 35px;
}
.gam-slide-arrow .gam-is-active {
  background-color:#323232;
}
/* ------------vertical line------------ */
.gam-block {
  width: 71px;
  height: 100%;
  background-color:  #2e8a7d;
  position: relative;
}
.gam-bl{
  width: 71px;
  /* height: 918px; */
  background-color: #2e8a7d;
  position: relative;
}
.gam-block:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -53px;
  width: 35px;;
  height:35px;
  background-color :rgb(255, 255, 255);
  -webkit-transform-origin:0 100%;
  -ms-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg);
  }
/* ----------card------------ */
.gam-game-cards {
  display: grid;
  grid-template: 1fr/ 1fr 1fr ;
}
.gam-card-game:hover {
  background-color: #ffffffbe;
}
.gam-card-game {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
}
.gam-card-game img {
  width: auto;
  height: 100%;
  max-width: 250px;
}
.gam-game-rating {
 width: 81px;
height: 80px;
position: absolute;
top: -10px;
right: 20px;
line-height: 80px;
background-color: #f7d54a;
color: #000000;
font-size: 30px;
font-weight: 500;
text-align: center;
}
.gam-game-cont-box {
  display: flex;
  flex-direction: column;
  padding: 20px;
 height: 100%;
  justify-content:space-evenly;
}
.gam-game-name {
  color: #010101;
font-size: 30px;
font-weight: 700;
line-height: 30px;
max-width: 150px;
}
.gam-descrip-name {
  color: #000000;
font-size: 14px;
font-weight: 300;
margin-top: 10px;
margin-bottom: 10px;
}
.gam-descrip-name-green {
color: #2a9657;
}
.gam-game-text {
color: #000000;
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: left;
width: 90%;
}
.gam-game-ico-box {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  width: 35%;
}
.gam-game-ico-box i {
  text-decoration: none;
  color: #2a9657;
}
.gam-game-num {
  color: #272727;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}
.gam-main-row {
  display: flex;
  flex-direction: column;
}
.gam-wrap-main-line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.gam-sort-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-top: 2px solid #ebebeb;
}
.gam-main-decor {
position: relative;
}
.gam-main-decor-img {
position: absolute;
transform: translate(-2%, 10%);
 max-width: 100%;
}
.gam-sort-name {
   color: #272727;
  font-weight: 300;
}
.gam-btn-popular {
display: flex;
align-items: flex-end;
}
.gam-popular {
color: #656565;
font-weight: 300;
background-color: white;
border-radius: 3px;
border: none; 
}
.gam-new {
color: #656565;
font-weight: 300;
border-radius: 3px;
background-color: white;
border: none; 
}
.gam-popular:hover,
.gam-new:hover {
 color: #33282c;
background-color: #f2ca5b;
}
.gam-news{
  display: flex;
  flex-direction: row;
 
  align-items: flex-end;
}
.gam-news-game {
  justify-content: center;
}
.gam-main-name {
text-transform: uppercase;
color: #ffffff;
font-weight: 800;
margin-top: 15px;
}
.gam-name-noties-box { 
margin: 0 auto;
margin-top: 10px;
height: 25px; 
border-bottom: 1px dotted #ffffff; 
font-size: 18px;
color: #ffffff;
font-weight: 300;
}
.gam-name-noties-box:hover {
  color:#f7d54a;
border-bottom: 1px dotted #f7d54a; 
}
 .gam-main-sort {
   display: flex;
   flex-direction: row;
 }
 /* _______ */
 @media(min-width:992px) {
   .gam-sort-name {
     margin-top: 40px;
   }

   .gam-main-name {
     font-size: 40px;
   }

   .gam-wrap-main-line {
     max-height: 115px;
   }

   .gam-new {
     margin-top: 26px;
   }
 }
 @media(min-width:1650px) {
   .gam-main-choice {
     margin-right: -13.9%;
   }

   .gam-sort-name {
     font-size: 25px;
   }

   .gam-popular {
     font-size: 25px;
     line-height: 24px;
     width: 208px;
     height: 50px;
   }

   .gam-new {
     font-size: 25px;
     line-height: 24px;
     width: 148px;
     height: 50px;
   }
 }
 @media(max-width:1650px) {
   .gam-sort-name {
     font-size: 20px;
   }
   .gam-popular {
     font-size: 20px;
     line-height: 20px;
     width: 100%;
     height: 40px;
   }
   .gam-new {
     font-size: 20px;
     line-height: 20px;
     width: 100%;
     height: 40px;
   }
 }
 @media(max-width:1200px) {
   .gam-game-cards {
     grid-template: 1fr/1fr;
   }
 }
 @media(max-width:992px) {
   .gam-wrap-main-line {
     flex-direction: column;
   }

   .gam-game-cards {
     grid-template: 1fr/ 1fr;
     /* padding: 20px 35px 0px; */
     margin: 0 auto;
   }

   .gam-sort-name {
     font-size: 18px;
     margin-top: 30px;
   }

   .gam-main-name {
     font-size: 30px;
   }

   .gam-wrap-main-line {
     min-height: 60px;
     justify-content: center;
   }

   .gam-main-choice {
     font-size: 18px;
     width: 150px;
     height: 50px;
     margin-top: 0%;
     margin-left: -70%;
   }

   .gam-main-choice-cont {
     padding: 20px 60px 0px;
     margin: 0 auto;
     grid-template: 1fr/minmax(150px, 1fr) minmax(150px, 1fr);
   }

   .gam-main-dots {
     justify-self: end;
   }

   .gam-popular {
     font-size: 18px;
     line-height: 20px;
     width: 100%;
     height: 40px;
     margin-top: 20px;
   }

   .gam-new {
     font-size: 18px;
     line-height: 20px;
     width: 100%;
     height: 40px;
     margin-top: 20px;
   }
 }
 @media(max-width:767px) {
   .gam-game-cards {
     grid-template: 1fr/ 1fr;
     margin: 0 auto;
   }
   .gam-card-game {
     flex-direction: column;
     width: 290px;
   }
   .gam-sort-name {
     font-size: 14px;
     margin-left: -25px;
   }
   .gam-popular {
     font-size: 14px;
     line-height: 14px;
     margin-left: -25px;
     width: 95px;
     height: 30px;
   }
   .gam-new {
     font-size: 14px;
     line-height: 14px;
     margin-left: -15px;
     width: 55px;
     height: 30px;
   }
   .gam-wrap-block {
     display: grid;
     grid-template: 1fr/ 29px 1fr;
   }
   .gam-bl {
     width: 29px;
   }
   .gam-block {
     width: 29px;
   }
   .gam-game-cards {
     margin: 0 auto;
   }
   .gam-game-cards-row {
     margin-left: 0px;
     margin-right: 0px;
     margin-top: 30px;
   }
   .gam-main-name {
     font-size: 25px;
   }
   .gam-name-noties-box {
     height: 25px;
     margin: 0 auto;
     margin-top: 10px;
     justify-items: flex-end;
     font-size: 10px;
   }
   .gam-main-choice {
     margin-left: -109px;
     font-size: 10px;
     width: 70px;
     margin-top: 5%;
   }
 }
 @media(max-width:475px) {
   .gam-main-choice-cont {
     padding: 20px 0px 0px 0px;
     display: grid;
     grid-template: 1fr/minmax(200px, 250px);
   }

   .gam-card {
     flex-direction: column;
     width: 250px;
   }

   .gam-main-dots {
     justify-self: center;
   }

   .gam-slide-arrow {
     justify-self: center;
     padding-top: 10px;
   }

   .gam-wrap-block {
     display: grid;
     grid-template: 1fr/ 10px 1fr;
   }

   .gam-bl {
     width: 10px;
   }

   .gam-block {
     width: 10px;
   }
   .gam-card-game {
     flex-direction: column;
     width: 250px;
   }
 }