
@media(min-width:768px) {
  .container {
    max-width: 720px;
  }
  .bur-menu {
    display: none;
  }
}
@media(min-width:992px) {
  .container {
    max-width: 960px;
  }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    flex: 0 0 41.666%;
    max-width: 41.666%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .col-md-9 {
    flex: 0 0 74.997%;
    max-width: 74.997%;
  }

  .col-md-7 {
    flex: 0 0 58.331%;
    max-width: 58.331%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sort-name {

    margin-top: 40px;


  }

  .main-name {
    font-size: 40px;



  }

  .wrap-main-line {
max-height: 115px;

  }

  .main-choice {

    font-size: 25px;

    width: 40%;
    height: 50px;

    margin-top: 5%;

    padding-left: 30px;
    padding-right: 30px;

  }

  .popular {

    margin-top: 26px;
  }

  .new {

    margin-top: 26px;
  }

  .triangle-left {
    top: 40px;
    left: -40px;
    border: 20px solid transparent;
    border-right: 20px solid #f3efdb;
  }

  .ftr-limitation {
    width: 100px;
    height: 60px;
    font-size: 31px;
    line-height: 52px;
    margin-left: 70%;
    margin-top: 10%;
  }

  .ftr-inf-name {

    margin-top: 40%;
  }

  .footer {

    min-height: 440px;
  }

}
@media(min-width:1200px) {


  .container {
    max-width: 1140px;
  }
  .form-search {
    height: 70px;
    width: 100%;
    background-color: #eeeeee;
    border: none;
  }
  .form-name {
    font-size: 17px;
    line-height: 24px;
  }
  .form-text {
    font-weight: 100;
    font-size: 17px;
    line-height: 24px;
  }
  .frm-btn {
    width: 240px;
    height: 50px;
    top: 63%;
    left: 17%;
    font-size: 20px;
    line-height: 24px;
    z-index: 20;
  }
  
  
}
@media(min-width:1650px) {
  .container {
    max-width: 1600px;
  }

  .main-choice {
    margin-right: -13.9%;
  }

  .wrap-main-cont {

    display: grid;
    grid: "f1 f1 f2 f3"320px 
    "f4 f5 f6 f7"330px 
    "f8 f5 f9 f9"320px 
    /400px 400px 290px 290px;
    /*grid-template-rows: 32rem 33rem 32rem;
  grid-template-columns: 40rem 40rem 29rem 29rem;*/
  }

  .footer-form {
    width: 75%;

  }

  .footer-bg-img {
    width: 100%;
    height: 100%;


  }

  .slider-information {
    width: 480px;
    height: 300px;

  }

  .inf-name {
    font-size: 30px;
    line-height: 40px;
  }

  .inf-text {
    font-size: 18px;
    line-height: 26px;
  }

  .slider-inf-img {
    width: 160px;
    height: 100px;
  }

  .slider-information-wrap {
    top: 15%;
    left: 53%;
  }

  .sort-name {
    font-size: 25px;


  }

  .popular {
    font-size: 25px;
    line-height: 24px;

    width: 208px;
    height: 50px;

  }

  .new {
    font-size: 25px;
    line-height: 24px;

    width: 148px;
    height: 50px;

  }

  .caption2 {
    font-size: 24px;
    line-height: 36px;
  }

  .comment-img6-name {

    margin-bottom: 30px;

  }

  .footer-img {

    left: 50%;



  }

  .footer-decor {

    top: 86%;
    left: 42%;
    height: 230px;


  }

  .footer-img {
    top: -15%;
    width: 1600px;
    height: 500px;
  }

  .ftr-inf-name {
    font-size: 15px;
    line-height: 24px;

  }

  .ftr-inf-text {
    max-width: 334px;
    font-size: 15px;
    line-height: 24px;

  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
@media(max-width:1650px) {
 

.main-choice {
margin-right: -7.5%;
}
.wrap-main-cont {
  padding-top: 30px;
  padding-bottom: 30px ;
  margin: 0 auto;
  display: grid;
  grid:"f1 f1 f2 f3" 320px
       "f4 f5 f6 f7" 330px
       "f8 f5 f9 f9" 320px
       /300px 300px 190px 190px
  ;
  
}
.footer-form {
  width: 55%;
 
}
.footer-bg-img {
 
  
 display: none;
}
.slider-information {
  width: 280px;
  height: 200px;
}
.inf-name {
  font-size: 18px;
  line-height: 20px;
}
.inf-text {
  font-size: 10px;
 line-height: 16px; 
}
.slider-inf-img {
  width: 100px;
  height: 66.7px;
 
}
.slider-information-wrap {
 
   top: 28%;
   left:67%;
}
.sort-name {
  font-size: 20px; 
  
 
}

.popular {
font-size: 20px;
line-height: 20px;

width: 100%;
height: 40px;

}
.new {
font-size: 20px;
line-height: 20px;

width: 100%;
height: 40px;

}
.caption2 {
  font-size: 16px;
  line-height: 30px;
  width: 80%;
}
.caption5 {
  max-width: 250px;
}
.caption7 {
  max-width: 250px;
}
.comment-img6-name {

margin-bottom: 15px;

}
/* .footer-img {
   max-width: 1500px;

}
.footer-img-person {
  top: -15%;
  background-size: cover;
  width: 100%;
 
} */
.footer-img {
   top: 10%;
 width: 1200px;
  height: 400px;
}
.footer-decor {
  top: 97%;
    left: 39%;
    height: 216px;
    width: 500px;
}

.ftr-inf-name {
font-size: 14px;
line-height: 24px;

}
.ftr-inf-text {
max-width: 354px;
font-size: 10px;
line-height: 20px;

}
.footer-inf-wrap {
  margin-left: 0%;
  margin-top: 6%;
 
}
.menu {
   display: flex;
  flex-direction: row;
  justify-content: space-between;
}
}
@media(max-width:1200px) {
.menu {
  display: none;
}
.bur-menu {
  display: grid;

  align-items: center;
  padding: 0 40%;
}
.slider-information-wrap {
   top: 28%;
   left:58%;
}
.main-choice {
margin-right: -6%;
}
.footer-form {
  width: 65%;
}
.footer-img {
   top: 10%;
 width: 992px;
  height: 400px;
}
.footer-decor {
  top: 97%;
    left: 45%;
    height: 116px;
    width: 300px;
}
.form-name {
  font-size: 14px;
  line-height: 20px;
}
.form-text {
max-width: 85%;
   font-size: 14px;
   line-height: 20px; 
}
.ftr-inf-name {
font-size: 10px;
line-height: 20px;
}
.ftr-inf-text {
max-width: 254px;
font-size: 10px;
line-height: 20px;
}
.footer-inf-wrap {
  margin-left: 0%;
  margin-top: 11%;
}
.frm-btn {
  width: 140px;
  height: 30px;
   top: 68%;
    left: 18%;

    z-index: 20;
  font-size: 14px;
  line-height: 14px;
}
.footer-stick {
    display: none;
}
.search {
padding: 0 20px;
}
.wrapper-search {
  display: flex;
flex-direction: row;
}
.wrapper-search {
  justify-self: start;
}
.logo-menu-search {
 
  grid-template-columns: 200px 70px auto;
 
}

.game-cards {
 
  grid-template: 1fr/1fr ;
 
}
}
@media(max-width:992px) {
   .wrap-main-line {
    flex-direction: column;
  }
  .wrapper{ 
  display: flex;
  flex-direction: row;
 max-height: 60px;
}

  .game-cards {
    grid-template: 1fr/ 1fr ;
    /* padding: 20px 35px 0px; */
    margin: 0 auto;
  }
  .wrapper-btn {
    display: none;
  }
  .header-menu {
    grid-template-columns: 1fr;

  }
  .logo-menu-search {
    grid-column-gap: 13%;
  }
.sort-name {
  font-size: 18px; 
   margin-top: 30px; 
}
.main-name {
font-size: 30px;
}
.wrap-main-line {
 min-height: 60px;
 justify-content: center;
}
.main-choice {
font-size: 18px;
width: 150px;
height: 50px;
margin-top: 0%;
margin-left: -70%;
}
.main-choice-cont {
  padding: 20px 60px 0px;
  margin: 0 auto;
  grid-template: 1fr/minmax(150px, 1fr) minmax(150px, 1fr);
}
.main-dots {
  justify-self: end;
}
.popular {
font-size: 18px;
line-height: 20px;
width:100%;
height: 40px;
  margin-top: 20px; 
}
.new {
font-size: 18px;
line-height: 20px; 
 width: 100%;
height: 40px;
  margin-top: 20px; 
}
.triangle-left {
  top: 40px;
  right: -40px;
border: 20px solid transparent;
border-left: 20px solid #f3efdb;
}

.footer-img {
   top: 15%;
 width: 720px;
  height: 300px;
}
.footer-decor {
  top: 115%;
    left: 39%;
    height: 116px;
    width: 250px;
}
.footer-form {
  width: 320px;
}
.ftr-limitation {
  width: 60px;
  height: 50px;
  
  font-size: 18px;
  line-height: 40px;
  margin-left: 410%;
  margin-top: 0%;
}
.footer-inf-wrap {
  margin-top: 2%;
}
.ftr-information {
  top: 33%;
  right: 11%;
  display: none;
}
.ftr-inf-name {
  margin-top: 0;  
}
.footer-stick {
  display: none;
}
.footer {
min-height: 340px;
} 
.frm-btn {
  width: 140px;
  height: 30px;
  top: 96%;
    left: 18%;

    z-index: 20;
  font-size: 14px;
  line-height: 14px;
}
.slider-information {
  width: 200px;
  height: 270px;
}
.slider-inf-img {
  width: 90px;
  height: 60.7px;
}
.slider-information-wrap {
   top: 21%;
   left:59%;
}

  .wrap-main-cont {
  padding-top: 1rem;
  margin: 0 auto;
  display: grid;
grid: "f1 f1" 320px
      "f2 f3" 320px
      "f5 f6" 330px
      "f5 f8" 330px
      "f7 f4" 330px
      "f9 f9" 320px
      /360px 360px
  }
  .cont-img1 {
  grid-column: 1/3;
  grid-row: 1;
}
 .cont-img1 img {
   width: 100%;
  height: 100%;
  background-size: cover;
}
.caption-block {
   width: 70%;
 
}
.cont-img2 {
  grid-column: 1/2;
  grid-row: 2;
}
.cont-img2 img{
  width: 100%;
  height: 100%;
}
.cont-img3 { 
  grid-column: 2/3;
  grid-row: 2;
}
.cont-img4 {
  grid-column: 2/3;
  grid-row: 5;
}
.cont-img4 img{
  width: 100%;
  height: 100%;
  background-size: cover;
}


.cont-img5 {
 grid-column: 1/2;
  grid-row: 3 / 5;
}
.cont-img5 img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.cont-img6 {
  grid-column: 2/3;
  grid-row: 3;
}
.cont-img6 img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.cont-img7 {
  grid-column: 1 / 3;
  grid-row:6;
}
.cont-img7 img{

    width: 100%;
  height: 100%;
  background-size: cover;
}
.comment-img6 {
  grid-column: 1/2;
  grid-row: 5;
}
.comment-img7 {
   grid-column: 2/3;
   grid-row: 4;
}
}
@media(max-width:767px) {
   .game-cards {
    grid-template: 1fr/ 1fr;
    margin: 0 auto;
  }
  .logo-menu-search{
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    min-height: 70px;
  }
  .logo-menu-search {
    grid-column-gap: 3%;
  }
 .wrap-main-cont {
  padding-top: 1rem;
  margin: 0 auto;
  display: grid;
grid: "f1" 160px
      "f2" 220px
      "f3" 310px
      "f5" 400px
      "f6" 190px
      "f8" 240px
      "f4" 200px
      "f7" 280px
      "f9" 280px
      /320px   
  }
 .cont-img1 {
  grid-column: 1;
  grid-row: 1;
}
 .cont-img1 img {
   width: 100%;
  height: 100%;
  background-size: cover;
}
.caption-block {
   width: 70%;
}
.cont-img2 {
  grid-column: 1;
  grid-row: 2;
}
.cont-img2 img{
  width: 100%;
  height: 100%;
}
.cont-img3 { 
  grid-column: 1;
  grid-row: 3;
}
.cont-img4 {
  grid-column: 1;
  grid-row: 7;
}
.cont-img4 img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.cont-img5 {
 grid-column: 1;
  grid-row: 4;
}
.cont-img5 img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.cont-img6 {
  grid-column: 1;
  grid-row: 5;
}
.cont-img6 img{
  width: 100%;
  height: 100%;
  background-size: cover;
}
.cont-img7 {
  grid-column: 1;
  grid-row:8;
}
.cont-img7 img{
    width: 100%;
  height: 100%;
  background-size: cover;
}
.comment-img6 {
  grid-column: 1;
  grid-row: 6;
}
.comment-img7 {
   grid-column: 1;
   grid-row: 9;
}
.triangle-top {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: -2.5rem;
  left: 16rem;
  z-index: 100;
 border: 20px solid transparent;
 border-bottom: 20px solid #f3efdb;
}
.triangle-left {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: -2.5rem;
  left: 15rem;
border: 20px solid transparent;
border-bottom: 20px solid #f3efdb;
}
.card {
  
  flex-direction: column;
 width: 290px;
}
.wrap-main-cont {
  justify-content: center;
}
/* .main-choice-cont {
justify-content: flex-start;
} */
.sort-name {
  font-size: 14px; 
 margin-left: -25px;
}
.popular {
font-size: 14px;
line-height: 14px;
 margin-left: -25px;
width: 95px;
height: 30px;
}
.new {
font-size: 14px;
line-height: 14px;
 margin-left: -15px;
width: 55px;
height: 30px;
}
.wrap-block{
  display: grid;
  grid-template: 1fr/ 29px 1fr ;
}
.bl{
  width: 29px;
  
}
.block {
  width: 29px;
 
}
.game-cards {
  margin: 0 auto;
}
.game-cards-row {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
}
.more {
  width: 250px;
    height: 60px;
    font-size: 14px;
}
.enter {
    font-size: 14px; 
}
.reg {
  font-size: 14px;
}
.slider-information {
  width: 200px;
  height: 280px;
}
.slider-img {
  display: none;
}
.slider-information-wrap {
   top: 18%;
   left:63%;
}
.footer-img {
   top: 89%;
 width: 320px;
  height: 100px;
}
.footer-decor {
  top: 121%;
    left: 43%;
    height: 50px;
    width: 130px;
}
.ftr-limitation {
   display: none;
}

/* .header-row {
  grid-template-columns: 1rf;
} */
.slider-information {
    display:none;
}
.logo {
 background-size: cover;
 min-width: 110px;
}
.logo-img {
  width: 100%;
}

.main-name {
    font-size: 25px;
    
}
.name-noties-box {
    /* width: 65px; */
    height: 25px;
    /* margin-left: 2px; */
   /* margin-left: -10px; */
   margin: 0 auto;
   margin-top: 10px;
   justify-items: flex-end;
    font-size: 10px;
}
.main-choice {
    margin-left: -109px;
    font-size: 10px;
   width: 70px;
    margin-top: 5%;
}
.footer-form {
    width: 250px;
    height: 350px;
}
.ftr-ico {
    width: 32px;
    height: 35px;
}
.ftr-box-ico {
   max-width: 190px;
}
.footer-img {
    top: 109%;
}
.footer-decor {
    top: 134%;
    left: 43%;
}
.footer {
    min-height: 483px;
}
.ftr-form-cont {
    top: 22%;
}
.frm-btn {
  width: 140px;
  height: 30px;
  top: 93%;
    left: 42%;

    z-index: 20;
  font-size: 14px;
  line-height: 14px;
}
.more {
    margin-top: 10px;
    margin-bottom: 40px;
}
.slider {
 background-size: cover;
}
.slider-information-wrap {
 display: none;
}
.caption-block7 {
    width: 310px; 
}
.caption-block5 {
    width: 310px;   
}
.main-choice {
    margin-left: 0px;
  
    margin-top: 0%;
}

.header-row {
  justify-content:center;
  align-content: center;
}
/* .logo {
   margin-right: 15px;
} */
.form-search {
  display: none;
}
.wrapper-search {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
}
.footer-row {
   flex-direction: column;
align-items: center;
}

}
@media(max-width:475px) {
  .main-choice-cont {
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template: 1fr/minmax(200px, 250px) ;
}
.card {
  
  flex-direction: column;
 width: 250px;
 
}
.main-dots {
    justify-self: center;
}
.slide-arrow {
    justify-self: center;
    padding-top: 10px;
}
.wrap-block{
  display: grid;
  grid-template: 1fr/ 10px 1fr ;
}
.bl{
  width: 10px;
  
}
.block {
  width: 10px;
 
}


}
